<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inko Orders</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inko.Orders.Web.styles.css" asp-append-version="true" />

    <link rel="stylesheet" type="text/css" href="~/lib/superfish/css/superfish.min.css"/>
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.hoverintent/jquery.hoverIntent.min.js"></script>
    <script type="text/javascript" src="~/lib/superfish/js/superfish.js"></script>

    <script type="text/javascript">
        $(function() {
            $("ul.sf-menu").superfish({
                autoArrow: true,
                animation: { height: "show"},
                delay: 2000,
                onShow: function() { alert("Test"); }
            });
        });
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inko</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Storage" asp-action="AddComponent">Add Component</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Storage" asp-action="AddMaterial">Add Material</a>
                        </li>*@
                        <li>
  <ul class="sf-menu">
    <li class="current">
        <a href="index.php">Storage</a>
        <ul>
            <li class="current">
                <a href="#os">View</a>
                <ul>
                    <li><a href="">View whole Storage</a></li>
                    <li><a href="">View all compoinents</a></li>
                    <li><a href="">View all materials</a></li>
                    <li><a href="">View all tools</a></li>
                    <li><a href="">View all ware</a></li>
                </ul>
            </li>

            <li class="current">
                <a href="#os">Add </a>
                <ul>
                    <li><a asp-controller="Storage" asp-action="AddComponent">Add component</a></li>
                    <li><a asp-controller="Storage" asp-action="AddMaterial">Add material</a></li>
                    <li><a href="macos.php">Add tool</a></li>
                    <li><a href="real.php">Add ware</a></li>
                </ul>
            </li>
         
    <li>
        <a href="#">Order</a>
        <ul>
            <li><a href="real.php">Add provider order</a></li>
            <li><a href="">View all providers order</a></li>
        </ul>
    </li>
    </li>
    
 </ul>
 <li class="current">
        <a href="index.php">Clients</a>
        <ul>
            <li><a href="#">Tracking orders</a></li>
            <li><a href="#">Info all clients</a></li>
        </ul>
</li>
<li class="current">
        <a href="index.php">Accounting</a>
        <ul>
            <li><a href="real.php">Bank Payments</a></li>
            <li><a href="real.php">Income</a></li>
            <li><a href="real.php">Expenses</a></li>
            <li><a href="real.php">Utility Bills</a></li>
        </ul>
</li>
 <li>
     <a href="#">Galery</a>
     <ul>
         <li>
             <a href="#">Screenshots of stocks</a>
             <ul>
               <li><a href="windows.php?p=scr">Winsows</a></li> 
               <li><a href="linux.php?p=scr">Linux</a></li>
               <li><a href="mac.php?p=scr">MacOS</a></li>
             </ul>
         </li>
         <li>
             <a href="#">Clients image image</a>
             <ul>
               <li><a href="iamge.php?p=scr">admin</a></li> 
               <li><a href="iamge.php?p=scr">manager</a></li>
               <li><a href="iamge.php?p=scr">john.doe</a></li>
             </ul>
         </li>

     </ul>
 </li>
    <li><a href="index.php?p=contacts">Contacts</a></li>
</ul>
@* </li>
                       </li>
                    </ul>*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Inko.Orders.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
