@model AddComponentViewModel

@{
    ViewData["Title"] = "Add Component";
}

<h1>Add Component To Database</h1>

<form method="post">
    <div class="row">
        <div class="form-group">
            <label>Name</label>
            <input type="text" id="name" name="name" placeholder="component name..."><br><br>
            <label>Price</label>
            <input type="text" id="price" name="price" placeholder="component price..."><br><br>
            <label>Quantity</label>
            <input type="text" id="Quantity" name="Quantity" placeholder="component quantity..."><br><br>            
            <label>BuyedTime</label>
            <input type="text" id="BuyedTime" name="BuyedTime" placeholder="dd/mm/yyyy hh:mm:ss"><br><br>
            <label>Picture</label>
            <input type="text" id="Picture" name="Picture" placeholder="URL"><br><br>
            <label>PlaceInStorageAndCity</label>
            <input type="text" id="PlaceInStorageAndCity" name="PlaceInStorageAndCity"><br><br>
            <label>Comment</label><br><br>
            <textarea type="text" id="Comment" name="Comment" placeholder="Write some specifics..."></textarea><br><br>
            <input checked="checked" type="checkbox" id="Insignificant" name="Insignificant" value="true"/>
            <label for="Insignificant1">In this component significant?</label><br><br>
        </div>
    </div>
            <button type="submit" value="Submit">Submit</button>
</form>